<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/registration-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <form action="" method="post">
        <div class="main">
            <div class="login">
                <section class="section">
                    <div class="container">
                        <div class="logo">
                            <i class="fa-brands fa-twitter"></i>
                        </div>

                        <div class="heading">
                            <h1>
                                Sign in to Twitter.
                            </h1>
                        </div>
                        <div class="inputs">

                            <div class="user-info">
                                <input type="text" name="email" placeholder="Email" id="email" onchange="checkmail()">

                            </div>
                            <div class="user-info">
                                <input type="text" name="password" placeholder="Password" id="password"
                                    onchange="checkpwd()">

                                <p id="error"></p>
                            </div>
                            <div class="forgot-password">
                                <a href="/forget-pass">Forgot password</a>
                            </div>

                        </div>
                        <div class="buttons">
                            <div class="next">
                                <input type="submit" value="Log In" disabled id="sub">
                                <!-- <a href="#">Login </a> -->
                            </div>

                        </div>
                        <div class="footer">
                            <h5 id="txt1">Don't Have an account ? </h5>
                            <h4><a href="/signup"> Sign up</a></h4>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </form>
    <script>
        function checkmail() {
            var email = document.getElementById('email').value;
            if (email == "") {
                document.getElementById("error").innerHTML = " Email can not empty";
            }

            else {
                document.getElementById('error').textContent = '';
            }

        }
        function checkpwd() {
            document.getElementById("sub").disabled = true;
            var pwd = document.getElementById('password').value;
            if (pwd == "") {
                document.getElementById("error").innerHTML = " Password can not empty";
                return false;
            }
            else {
                document.getElementById("sub").disabled = false;
                document.getElementById("error").textContent = "";
                return true;
            }
        }

    </script>


</body>

</html>