<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Yinka Enoch Adedokun">
        <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
        <meta name="keywords" content="forgot password page, basic html and css">
        <title>Forgot Password Page - HTML + CSS</title>
        <link rel="stylesheet" href="/forgetpass.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="row">
            <form action="/verify_otp" id="form">
                <div class="logo">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <h1>OTP Screen</h1>
                <h4 class="information-text">Enter your registered OTP sent to your registered email</h4>
            <div class="form-group">
                <input type="number" name="otp" id="user_otp" placeholder="OTP">
                <button type="submit">Verify</button>
            </div>
            <p id="err"></p>
        </form>
        </div>
    </body>
    <script>
      
    </script>
</html>