.container{
    max-width: 1170px;
    padding: 0px 16px;
    margin: 0 auto;
}

.screen{
    display: flex;
    width: 100%; 
}
/* ***************************Navigation Bar************************* */

.navigationbar{
    width:20%;
    position: fixed;
    height: 100vh;
    
}

.logo i{
    color: #1DA1F2;
}

.logo{
    height: 10%;
    padding-top: 1rem;
}

.navigation{
    height: 68%;
    padding-top: 5rem;
}

.navrow{
    display: flex;
    margin-bottom: 1.8rem ;
    cursor: pointer;
}

.navrow span{
    padding-left: 1rem;
    padding-top: 0.25rem;
    font-size: large;
}

.tweetbtn{
    width: 80%;
    background-color: #1DA1F2;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    color: white;
}

.profile{
    display: flex;
    height: 25%;
}

.profileimg{
    width: 25%;
}

.profileimg img{
    width: 3rem;
    margin-right: 1rem;
}

.profileinfo{
    width: 60%;
}

.name span{
    font-weight: 600;
}

.username span{
    color: grey;
}

.more{
    width: 22%;
}

.more img{
    width: 1rem;
    margin-top: 0.5rem;
}




/* *************************Content Section************************** */

.contentsection{
    width: 70%;
    margin-left: 20%;
}

/* .contentsection form{
    width: 70%;
} */

.tweetform{
    display: flex;
}

.tweetform img{
    width: 10%;
    height: 10%;
    padding-top: 1rem;
}

.tweetform input{
    padding: 2rem;
    width: 85%;
    border: none;
    font-size: 1rem;
}

.tweetsubmit{
    display: flex;
    padding-top: 0.5rem;
    padding-left: 10%;
}


.tweetsubmit .tweet{
    width: 25%;
    margin-left: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    background-color: #1DA1F2;
    color: white;
    font-weight: 600;
    border: none;
    /* justify-content: end; */
}

.tweetsubmit i{
    color: #1DA1F2;
    padding-top: 0.5rem;
}

.tweetsubmit>#file_input{
    display: none;
}

.contentsection form{
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.193);
    margin-left: 2rem;
    /* margin-right: auto; */
    padding: 1rem;
}

.tweets{
    margin-top: 2rem;
    padding: 2rem;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.091);
    margin-left: 2rem;
    border-radius: 2rem;
}
.post__avatar{
    width: 40px;
}

.tweetImg{
    width: 50%;
}




/* *****************Search and Suggestion Section************* */

.searchsection{
    width: 30%;
}

.searchbar{
    border: 1px solid grey;
    border-radius: 10px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
}

.searchbar input{
    border: none;
    outline: none;
   
    
}

.searchbar span i{
    padding-left: 0.5rem;
}

.searchprofile{
    margin-top: 2rem;
    display: flex;
}

.followbtn p{
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0px;
}

#searchprofilebar{
    background-color: #F5F8FA;
    padding: 0.5rem;
    margin-top: 5rem;
    
}


/* tweet main container style */
.tweet-main{
    margin-bottom: 2rem;
}

/* tweets likes css */
.btn-container{
    margin: 10px;
    display: flex;
}

.twt-toggle , .twt-toggle-like{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
}
.twt-toggle-like-black{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: black;
}
.twt-toggle-like-blue{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: #1DA1F2;
}

