.container {
    max-width: 1170px;
    padding: 0px 16px;
    margin: 0 auto;
}

.screen {
    display: flex;
    width: 100%;
}

/* ***************************Navigation Bar************************* */

.navigationbar {
    width: 18%;
    position: fixed;
    height: 100vh;

}

.logo i {
    color: #1DA1F2;
}

.logo {
    height: 10%;
    padding-top: 1rem;
}

.navigation {
    height: 68%;
    padding-top: 4.5rem;
}

.navrow {
    display: flex;
    margin-bottom: 1.8rem;
    cursor: pointer;
    width: 60%;
    padding: 0.5rem;
    border-radius: 25px;
}

.navrow:hover{
    background-color: #1da0f22f;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    padding: 0.5rem;
    padding-left: 1rem;

}

.navrow span {
    padding-left: 1rem;
    padding-top: 0.25rem;
    font-size: large;
}

.more_options {
    padding-left: 1.5rem;
    cursor: pointer;
}

.tweetbtn {
    width: 80%;
    background-color: #1DA1F2;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    color: white;
}

span a {
    text-decoration: none;
    color: black;
}

.profile {
    display: flex;
    /* height: 25%; */
}

.profile:hover{
    
    background-color: #1da0f215;
    border-radius: 25px;
    padding: 0.25rem;
    padding: 0.25rem;
}

.profileimg {
    width: 20%;
}

.profileimg img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}

.profileinfo {
    width: 60%;
}

.name span {
    font-weight: 600;
}

.username span {
    color: grey;
}

.more {
    width: 22%;
}

.more img {
    width: 1rem;
    margin-top: 0.5rem;
}

.home {
    margin-top: 5rem;
}


/* *************************Content Section************************** */

.contentsection {
    width: 70%;
    margin-left: 20%;
}

/* .contentsection form{
    width: 70%;
} */

.tweetform {
    display: flex;
}

#tweeterror{
    color: #03a9f4;
}

.tweetform img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 50px;
}

.tweetform input {
    padding: 2rem;
    width: 85%;
    border: none;
    font-size: 1rem;
}

.tweetsubmit {
    display: flex;
    padding-top: 0.5rem;
    padding-left: 10%;
}


.tweetsubmit .tweet {
    width: 25%;
    margin-left: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    background-color: #1DA1F2;
    color: white;
    font-weight: 600;
    border: none;
    /* justify-content: end; */
    cursor: pointer;
}


.tweetsubmit i {
    color: #1DA1F2;
    padding-top: 0.5rem;
    margin-right: 4rem;
}

#preview{
    width:100px; 
    height: 100px; 
    display: none;
    margin-left: 1rem;
}

.icgg>#file_input {
    display: none;
}

.contentsection form {
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.193);
    margin-left: 2rem;
    /* margin-right: auto; */
    padding: 1rem;
}


/* .tweets{
    margin-top: 2rem;
    padding: 2rem;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.091);
    margin-left: 2rem;
    border-radius: 2rem;
} */

.post__avatar {
    display: flex;
}


.post__header {
    padding-left: 1rem;

}

.post__avatar1 {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 50px;
}

.tweetImg {
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.tweetvideo {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


/* Comment */

.post-footer {
    text-align: center;
    padding-top: 1rem;
}

.commentsection {
    max-height: 30rem;
    width: 30rem;
    overflow-y: scroll;
    border: none;
    outline: none;
    overflow-wrap: break-word;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.commentsection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentsection {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* .comment form{
    display: flex;
} */
.commentfield {
    width: 70%;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.commentbtn {
    width: 20%;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #1DA1F2;
    color: white;
    font-weight: bold;
}

.comment {
    margin-top: 10px;
    border: #1DA1F2;
}

.comment form {
    border: none;
}

.profile1 {
    display: flex;
    height: 25%;
    border-bottom: 1px solid #80808024;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profileimg1 {
    width: 10%;
    padding: 0.5rem;
}

.profileimg1 img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    margin-top: 0.5rem;
}

.profileinfo1 {
    max-width: 80%;
    text-align: left;
}






/* *****************Search and Suggestion Section************* */

.searchsection {
    width: 30%;
}


.searchsection1 {
    position: fixed;
    overflow: scroll;
    height: 95vh;
    overflow-y: scroll;
    border: none;
    outline: none;
    overflow-wrap: break-word;

}

.searchsection1::-webkit-scrollbar {
    display: none;
}

.searchsection1 {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.searchbar {
    border: 1px solid grey;
    border-radius: 10px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
}


.searchbar input {
    border: none;
    outline: none;
}

.searchbar span i {
    padding-left: 0.5rem;
}

.searchprofile {
    margin-top: 2rem;
    display: flex;
}

.followbtn p {
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0px;
    cursor: pointer;
}

#searchprofilebar {
    background-color: #F5F8FA;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 15px;


}

#searchprofilebar .searchprofile .profileinfo .username {
    width: 90%;
    overflow-wrap: break-word;

}

#searchprofilebar .searchprofile .profileinfo .name {
    width: 90%;
    overflow-wrap: break-word;
}


/* tweet main container style */
.tweet-main {
    margin-bottom: 2rem;
}

/* tweets likes css */
.btn-container {
    margin: 10px;
    display: flex;
}

.twt-toggle,
.twt-toggle-like {
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
}

.twt-toggle-like-black {
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: black;
}


.twt-toggle-like-blue {
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: #1DA1F2;
}

.twt-toggle-retwt-black {
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: black;
}

.twt-toggle-retwt-blue {
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: #1DA1F2;
}

/* *******Retweet in home page******** */

.retweeted,
.tweets {
    padding: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.193); */

}

.retweet_tweet {
    margin-left: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.193);
    margin-top: 1rem;
    border-radius: 10px;
}

.tweet-main {
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.193);
    margin-left: 2rem;
    padding: 1rem;
}

hr {
    border-color: rgba(128, 128, 128, 0.096);
}

.retweeted:hover,
.tweets1:hover {
    background-color: #1da0f215;
}

.repost__avatar {
    display: flex;
}


.repost__header {
    padding-left: 1rem;

}

.repost__avatar1 {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 50px;
}

.retweet_selector {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 1rem;
}

.retweet_selector p:hover {
    background-color: white;
    border-radius: 2rem;


}

.retweetImg {
    width: 50%;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 8%;
}

.repost__headerDescription {
    margin-top: 2rem;
}


/* 
.loader
*/
.test{
    padding-top: 300px;
    display: flex;
    justify-content: center;
}
.loader-main{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

.loader span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #03a9f4;
    margin: 0 10px;
  }
  
  .loader span:nth-child(1){
      animation: 1s jump infinite ease-in-out;
  }
  
  .loader span:nth-child(2){
      animation: 1s 0.333s jump infinite ease-in-out;
  }
  
  .loader span:nth-child(3){
      animation: 1s 0.667s jump infinite ease-in-out;
  }
  
  @keyframes jump{
    0%{
      transform: translateY(0) scale(1);
    }
    30%{
      transform: translateY(-20px) scale(1.2);
    }
    75%{
      transform: translateY(0) scale(1);
    }
  
  }
