.container{
    max-width: 1170px;
    padding: 0px 16px;
    margin: 0 auto;
}

.screen{
    display: flex;
    width: 100%; 
}


/* ***************************Navigation Bar************************* */

.navigationbar {
    width: 18%;
    position: fixed;
    height: 100vh;

}

.logo i {
    color: #1DA1F2;
}

.logo {
    height: 10%;
    padding-top: 1rem;
}

.navigation {
    height: 68%;
    padding-top: 4.5rem;
}

.navrow {
    display: flex;
    margin-bottom: 1.8rem;
    cursor: pointer;
    width: 60%;
    padding: 0.5rem;
    border-radius: 25px;
}

.navrow:hover{
    background-color: #1da0f22f;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    padding: 0.5rem;
    padding-left: 1rem;

}

.navrow span {
    padding-left: 1rem;
    padding-top: 0.25rem;
    font-size: large;
}

.more_options {
    padding-left: 1.5rem;
    cursor: pointer;
}

.tweetbtn {
    width: 80%;
    background-color: #1DA1F2;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    color: white;
}

span a {
    text-decoration: none;
    color: black;
}

.profile {
    display: flex;
    /* height: 25%; */
}

.profile:hover{
    
    background-color: #1da0f215;
    border-radius: 25px;
    padding: 0.25rem;
    padding: 0.25rem;
}


.profileimg {
    width: 20%;
}

.profileimg img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}

.profileinfo {
    width: 60%;
}

.name span {
    font-weight: 600;
}

.username span {
    color: grey;
}

.more {
    width: 22%;
}

.more img {
    width: 1rem;
    margin-top: 0.5rem;
}

.home {
    margin-top: 5rem;
}



/* *************************Content Section************************** */

.contentsection{
    width: 80%;
    margin-left: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name_tweet {
    display: flex;
    flex-direction: row;
}

/* ................headerinfo.......... */
.headerinfo{
    display: flex;
}

.headerinfo i{
    padding-top: 0.6rem;
}

.name_tweet{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.name_tweet .name_user{
    font-weight: bolder;
    font-size: x-large;
}

.backward_arrow i{
    color: black;
}

/* .......Back img portion without any img...... */
.back_blank_space {
    margin-top: 1rem;
    background-color: rgba(163, 155, 155, 0.3);
    width: 100%;
    height: 15rem;
}

/* .............profile pic............. */

.profile_pic img{
    border: 5px solid white;
    margin-top: -105px;  
    margin-left: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    /* background-color: rgb(29 161 242); */
    /* padding: 2%; */
}

/* .profile_pic img{
    width: 8rem;
    height: 8rem;
} */

/* ........profile pic and edit btn div */

.profile_pic_edit_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ..................edit btn. div.......... */
.edit_profile {
    margin-top: 20px;
    margin-right: 70px;
}

/* ...................edit btn ancher tag..... */
.edit_profile a {

    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    margin-left: 100px;
    color: black;
}
.name_email{
    display: flex;
    flex-direction: column;
}

.profile_name{
    font-weight: bolder;
    font-size: larger;
    margin-top: 0.5rem;
}

.profile_email{
    color: grey;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.home_join_date{
    color: grey;
}

/* ................content after pic..... */
.content_after_pic {
    margin-left: 20px;
}

.follows p strong{
    font-size: large;
}

/* .....................followers and following main div......... */
.follows {
    display: flex;
}

/* ........follower and following p tags each...... */
.follows p {
    padding-right: 1rem;
}

/* ..................tweet and media main div......... */
.tweet_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;

}

/* .....................tweet.............. */
/* .tweet {

    width: 50%;
    padding: 0px 20px;

} */

/* ..........................media............. */
/* .media {

    width: 50%;
    padding: 0px 20px;

} */


/* .....................Tweet Section.............. */

.tweet_media{
    display: flex;
}

.tweetsec, .retweetsec{
    width: 50%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.tweetsec:hover{
    background-color: #F5F8FA;
}
/* 

.tweets{
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.091);
    margin-left: 2rem;
    border-radius: 2rem;
} */

.tweets{
    width: 60vw;
    padding: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.193); */

}

/* .tweet-main {
    width: 80%;
    border: 2px solid rgba(128, 128, 128, 0.193);
    margin-left: 2rem;
    padding: 1rem;
} */

hr {
    border-color: rgba(128, 128, 128, 0.096);
}

.tweets1:hover {
    background-color: #1da0f215;
}

.post{
    width: 60vw;
}

.post__avatar{
    display: flex;
    margin-bottom:2rem;
}

.post__header{
    padding-left: 1rem;

}

.post__avatar1{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 50px;
}
.followbtn p{
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0px;
}



.tweetImg{
    width: 30%;
}

.btn-container{
    display: flex;
}


/* .....................Retweets Section.............. */

.retweetsec{
    width: 50%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.retweetsec:hover{
    background-color: #F5F8FA;
}

/* tweets likes css */
.btn-container{
    margin: 10px;
    display: flex;
}
.twt-toggle{
    width: calc(100% /3);
    font-size: 20px;
    cursor: pointer;
}

/* like css */

.btn-container{
    margin: 10px;
    display: flex;
}

.twt-toggle , .twt-toggle-like{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
}
.twt-toggle-like-black{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: black;
}
.twt-toggle-like-blue{
    width: calc(100% /3);
    font-size: 20px;
    /* color: red; */
    color: #1DA1F2;
}





/* Comment */

.post-footer {
    text-align: center;
    padding-top: 1rem;
}

.commentsection {
    max-height: 30rem;
    /* width: 30rem;
     */
    overflow-y: scroll;
    border: none;
    outline: none;
    overflow-wrap: break-word;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.commentsection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentsection {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* .comment form{
    display: flex;
} */
.commentfield {
    width: 70%;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.commentbtn {
    width: 20%;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #1DA1F2;
    color: white;
    font-weight: bold;
}

.comment {
    margin-top: 10px;
    border: #1DA1F2;
}

.comment form {
    border: none;
}

.profile1 {
    display: flex;
    height: 25%;
    border-bottom: 1px solid #80808024;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profileimg1 {
    width: 10%;
    padding: 0.5rem;
}

.profileimg1 img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    margin-top: 0.5rem;
}

.profileinfo1 {
    max-width: 80%;
    text-align: left;
}
/* *******Retweet in profile page******** */

.retwt_twt{
    margin-top: 2rem;

}
.retweeted{
    margin-top: 2rem;
    padding: 1rem;
    width: 60vw;
    /* background-color: rgba(0, 0, 0, 0.091); */
    margin-left: 2rem;
    border-radius: 2rem;
}

.repost__avatar{
    display: flex;
    
}


.repost__header{
    padding-left: 1rem;

}

.repost__avatar1{
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 50px;
}

.retweetImg{
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.repost__headerDescription{
    margin-top: 3rem;
    display: inline;
    
}

.post__headerText{
    padding-left: 1rem;
}
.post12{
    /* background-color: rgba(0, 0, 0, 0.091); */
    border: 0.5px solid;
    border-radius: 2rem;
    border-color: rgba(3, 3, 3,0.2);
    padding: 1rem;
    width: 40vw;
    margin-top: 5rem;
    margin-bottom: 2rem;
}



/* 
.loader
*/
.test{
    padding-top: 300px;
    display: flex;
    justify-content: center;
}
.loader-main{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

.loader span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #03a9f4;
    margin: 0 10px;
  }
  
  .loader span:nth-child(1){
      animation: 1s jump infinite ease-in-out;
  }
  
  .loader span:nth-child(2){
      animation: 1s 0.333s jump infinite ease-in-out;
  }
  
  .loader span:nth-child(3){
      animation: 1s 0.667s jump infinite ease-in-out;
  }
  
  @keyframes jump{
    0%{
      transform: translateY(0) scale(1);
    }
    30%{
      transform: translateY(-20px) scale(1.2);
    }
    75%{
      transform: translateY(0) scale(1);
    }
  
  }
